<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://nerds.co/wp-content/uploads/2017/08/banner-e1502674836569.png')">
  <div class="container">
    <h1 class="my-5">Our cocktails selection</h1>
    <%= link_to "Back to home", root_path, class: "btn-gold my-5" %>
  </div>
</div>


<div class="container">
  <div class="d-flex justify-content-start flex-wrap mt-3">
    <br>
    <% @cocktails.each do |cocktail| %>
      <div class="card">
        <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, class: "drink-img" %>
        <% end %>
        <div class="card-bottom">
          <h2><%= cocktail.name %></h2>
          <div class="d-flex ml-0 my-2">
            <%= link_to "Details", cocktail_path(cocktail), class:"mr-3 black" %>
            <%= link_to "Delete",
                        cocktail_path(cocktail),
                        method: :delete,
                        data: { confirm: "Are you sure?"}, class:"black" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

