
<div class="container">
  <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key %>')">
      <h1><%= @cocktail.name %></h1>
  </div>


  <div class="card-drink">


  </div>

  <h2>Description</h2>

    <% @cocktail.doses.each do |dose| %>
      <div class="d-flex justify-content-between w-25">
        <p><%= dose.ingredient.name %>: <%= dose.description %></p>
        <div><%= link_to "🗑",
                        cocktail_dose_path(dose),
                        method: :delete,
                        data: { confirm: "Are you sure?"} %></div>
      </div>
    <% end %>



  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn-gold"  %>
  <br>
  <br>
  <br>
  <%= link_to "Back to home", root_path, class: "btn-gold"  %>
</div>



